extends layout 

block content 
  div(class='container')
    h1(class='record-title')= record.title 
    
    div(class="artist-container")
      h3(class='title') Artist Name
      p(class='data')= record.artist 
      
    div(class='title-container')  
      h3(class='title') Album Title
      p(class='data')= record.title 
       
    div(class='genre-container') 
      h3(class='title') Genre
      p(class='data')= record.genre 
       
    div(class='speed-container') 
      h3(class='title') Speed 
      p(class='data')= record.speed  
      
    div(class='sideA-container')
      h3(class='title') Side A
      p(class='data')!= md(record.sideA)
      
    div(class='sideB-container')
      h3(class='title') Side B
      p(class='data')!= md(record.sideB)   
         
    a.button(href=`/records/${record.id}/edit`) Edit
    
    a.button(href="/records") Back
    
    form(action=`/records/${record.id}/delete`, method='post', onsubmit="return confirm('Do you really want to delete this record?')")
      p 
        input(type='submit', value="Delete") 
