extends layout 

block content 
  h1 Record Detail
    
  h2 Artist name 
  p= record.artist
  
  h2 Album title 
  p= record.title
  
  h2 Genre 
  p= record.genre 
  
  h2 Speed 
  p= record.speed 
  
  h2 Side A 
  p!= md(record.sideA)
  
  h2 Side B 
  p!= md(record.sideB)
  
  a.button(href=`/records/${record.id}/edit`) Edit
  
  a.button(href="/records") Back
  
  form(action=`/records/${record.id}/delete`, method='post', onsubmit="return confirm('Do you really want to delete this record?')")
    p 
      input(type='submit', value="Delete") 
